
<strong><b style="font-size: 200%">Grand Total:{{grandTotal}}</b></strong>
<div class="row" *ngFor="let item of cartItems; let i = index">
<div class="col-sm-1">{{i+1}}</div>
  <div class="col-sm-4">
    <b>{{item.name}}</b><br>
    <img src="{{item.image}}" style="height:200px; width:200px">
    
  </div>
  <div class="col-sm-3">
    <b>Type:</b>
      <div class="center">
          <div *ngIf="item.type=='veg'; else nonBlock">
            <img class="img-responsive" src="/assets/green.png" width="30" height="30" alt="Veg"></div>
          <ng-template #nonBlock>
            <img class="img-responsive" src="/assets/red.png" width="30" height="30" alt="Non-Veg">
          </ng-template>
        </div>
        <br>
        <br>

        <b>Topping:</b>&nbsp;{{item.topping}}<br /><br>

        <div>
            <div *ngIf="item.addOns == null; else elseBlock">
              <b>No Extra Topping</b></div>
            <ng-template #elseBlock>
              <b>Extra Toppings:</b> &nbsp;{{item.addOns}}
            </ng-template>
          </div>
          </div>
          <div class="col-sm-3">
              <b>Base Price:</b> &nbsp;{{item.price}}X {{item.quant}}<br><br>
              <b>Quantity:</b>{{item.quant}} <br><br>
              <b>Add On Price:</b> &nbsp;{{item.addOnPrice}}<br /><br>
              <b>Cart Value:</b> &nbsp;{{total[i]}}<br />
          </div>
    
    
    

    <div class="col-sm-1">
      <button (click)="removeFromCart(item._id)" class="btn btn-danger" onclick="window.location.reload()"><span class="glyphicon glyphicon-remove"></span></button><br />
    </div> <br />
    <div class="col-sm-12">
        <hr>
    </div>
    
  </div>